node.exe : Loaded Prisma config from prisma.config.ts.
No linha:1 caractere:1
+ & "C:\nvm4w\nodejs/node.exe" "C:\nvm4w\nodejs/node_modules/npm/bin/np ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Loaded Prisma c...isma.config.ts.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "WeekDay" AS ENUM ('Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom');

-- CreateEnum
CREATE TYPE "ClassStatus" AS ENUM ('confirmed', 'pending', 'canceled');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('atleta', 'personal');

-- CreateEnum
CREATE TYPE "UserSex" AS ENUM ('masculino', 'feminino', 'outro');

-- CreateEnum
CREATE TYPE "ExperienceLevel" AS ENUM ('iniciante', 'intermediario', 'avancado');

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "UserRole" NOT NULL,
    "termsAcceptedAt" TIMESTAMP(3),
    "privacyAcceptedAt" TIMESTAMP(3),
    "dataConsentAt" TIMESTAMP(3),
    "resetToken" VARCHAR(255),
    "resetTokenExpires" TIMESTAMP(3),
    "markedForDeletionAt" TIMESTAMP(3),
    "anonymizedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "athletes" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "personalId" UUID,
    "name" VARCHAR(255) NOT NULL,
    "cpf" VARCHAR(14) NOT NULL,
    "cep" VARCHAR(9) NOT NULL,
    "city" VARCHAR(100) NOT NULL,
    "state" CHAR(2) NOT NULL,
    "age" SMALLINT NOT NULL,
    "sex" "UserSex" NOT NULL,
    "heightCm" SMALLINT NOT NULL,
    "weightKg" DOUBLE PRECISION NOT NULL,
    "experienceLevel" "ExperienceLevel" NOT NULL,
    "injury" TEXT,
    "healthIssues" TEXT,
    "medications" TEXT,
    "phone" VARCHAR(20),
    "emergencyContact" VARCHAR(255),
    "objective" VARCHAR(255),
    "observations" TEXT,
    "availableDays" VARCHAR(100),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "athletes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "personal_trainers" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "cref" VARCHAR(20) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "personal_trainers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "training_plans" (
    "id" UUID NOT NULL,
    "athleteId" UUID NOT NULL,
    "day" "WeekDay" NOT NULL,

    CONSTRAINT "training_plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exercises" (
    "id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "sets" VARCHAR(10) NOT NULL,
    "reps" VARCHAR(10) NOT NULL,
    "load" VARCHAR(20) NOT NULL,
    "planId" UUID NOT NULL,

    CONSTRAINT "exercises_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "progress_entries" (
    "id" UUID NOT NULL,
    "athleteId" UUID NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "weight" DOUBLE PRECISION NOT NULL,
    "muscleMass" DOUBLE PRECISION,
    "bodyFat" DOUBLE PRECISION,
    "note" TEXT,

    CONSTRAINT "progress_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "weekly_classes" (
    "id" UUID NOT NULL,
    "athleteId" UUID NOT NULL,
    "day" "WeekDay" NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "time" VARCHAR(5) NOT NULL,
    "type" VARCHAR(50) NOT NULL,
    "status" "ClassStatus" NOT NULL,

    CONSTRAINT "weekly_classes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "integrations" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "provider" VARCHAR(50) NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "syncEnabled" BOOLEAN NOT NULL DEFAULT true,
    "accessToken" TEXT NOT NULL,
    "refreshToken" TEXT,
    "tokenType" VARCHAR(50),
    "expiresAt" TIMESTAMP(3),
    "scope" VARCHAR(255),
    "providerData" JSONB,
    "lastSyncAt" TIMESTAMP(3),
    "nextSyncAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "integrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subscriptions" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "plan" VARCHAR(50) NOT NULL,
    "status" VARCHAR(20) NOT NULL,
    "paymentId" VARCHAR(255),
    "startDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "workout_sessions" (
    "id" UUID NOT NULL,
    "athleteId" UUID NOT NULL,
    "modality" VARCHAR(50) NOT NULL,
    "durationSec" INTEGER NOT NULL,
    "distanceKm" DOUBLE PRECISION,
    "avgPaceSecPerKm" INTEGER,
    "steps" INTEGER,
    "calories" DOUBLE PRECISION,
    "avgHeartRate" INTEGER,
    "completedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "exercises" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "workout_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "gps_sessions" (
    "id" UUID NOT NULL,
    "athleteId" UUID NOT NULL,
    "modality" VARCHAR(50) NOT NULL,
    "distanceKm" DOUBLE PRECISION NOT NULL,
    "durationSec" INTEGER NOT NULL,
    "avgPaceSecPerKm" INTEGER,
    "steps" INTEGER,
    "coordinates" JSONB,
    "startLat" DOUBLE PRECISION,
    "startLng" DOUBLE PRECISION,
    "endLat" DOUBLE PRECISION,
    "endLng" DOUBLE PRECISION,
    "completedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "gps_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_resetToken_key" ON "users"("resetToken");

-- CreateIndex
CREATE INDEX "users_role_idx" ON "users"("role");

-- CreateIndex
CREATE UNIQUE INDEX "athletes_userId_key" ON "athletes"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "athletes_cpf_key" ON "athletes"("cpf");

-- CreateIndex
CREATE INDEX "athletes_personalId_idx" ON "athletes"("personalId");

-- CreateIndex
CREATE INDEX "athletes_state_city_idx" ON "athletes"("state", "city");

-- CreateIndex
CREATE INDEX "athletes_createdAt_idx" ON "athletes"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "personal_trainers_userId_key" ON "personal_trainers"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "personal_trainers_cref_key" ON "personal_trainers"("cref");

-- CreateIndex
CREATE INDEX "training_plans_athleteId_day_idx" ON "training_plans"("athleteId", "day");

-- CreateIndex
CREATE INDEX "exercises_planId_idx" ON "exercises"("planId");

-- CreateIndex
CREATE INDEX "progress_entries_athleteId_date_idx" ON "progress_entries"("athleteId", "date");

-- CreateIndex
CREATE INDEX "weekly_classes_athleteId_date_idx" ON "weekly_classes"("athleteId", "date");

-- CreateIndex
CREATE INDEX "integrations_userId_idx" ON "integrations"("userId");

-- CreateIndex
CREATE INDEX "integrations_provider_idx" ON "integrations"("provider");

-- CreateIndex
CREATE UNIQUE INDEX "integrations_userId_provider_key" ON "integrations"("userId", "provider");

-- CreateIndex
CREATE UNIQUE INDEX "subscriptions_paymentId_key" ON "subscriptions"("paymentId");

-- CreateIndex
CREATE INDEX "subscriptions_userId_idx" ON "subscriptions"("userId");

-- CreateIndex
CREATE INDEX "subscriptions_status_idx" ON "subscriptions"("status");

-- CreateIndex
CREATE INDEX "subscriptions_paymentId_idx" ON "subscriptions"("paymentId");

-- CreateIndex
CREATE INDEX "workout_sessions_athleteId_completedAt_idx" ON "workout_sessions"("athleteId", "completedAt");

-- CreateIndex
CREATE INDEX "gps_sessions_athleteId_completedAt_idx" ON "gps_sessions"("athleteId", "completedAt");

-- AddForeignKey
ALTER TABLE "athletes" ADD CONSTRAINT "athletes_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "athletes" ADD CONSTRAINT "athletes_personalId_fkey" FOREIGN KEY ("personalId") REFERENCES "personal_trainers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "personal_trainers" ADD CONSTRAINT "personal_trainers_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "training_plans" ADD CONSTRAINT "training_plans_athleteId_fkey" FOREIGN KEY ("athleteId") REFERENCES "athletes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exercises" ADD CONSTRAINT "exercises_planId_fkey" FOREIGN KEY ("planId") REFERENCES "training_plans"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "progress_entries" ADD CONSTRAINT "progress_entries_athleteId_fkey" FOREIGN KEY ("athleteId") REFERENCES "athletes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "weekly_classes" ADD CONSTRAINT "weekly_classes_athleteId_fkey" FOREIGN KEY ("athleteId") REFERENCES "athletes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "integrations" ADD CONSTRAINT "integrations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subscriptions" ADD CONSTRAINT "subscriptions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "workout_sessions" ADD CONSTRAINT "workout_sessions_athleteId_fkey" FOREIGN KEY ("athleteId") REFERENCES "athletes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "gps_sessions" ADD CONSTRAINT "gps_sessions_athleteId_fkey" FOREIGN KEY ("athleteId") REFERENCES "athletes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

